

.background-container {
  background-image: url('src/assets/images/Home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: fixed; /* Ensure it stays fixed while scrolling */
  top: 0;
  left: 0;
  z-index: -1; /* Place it behind other content */
}
  
.content-container {
  position: relative; /* Ensure it is positioned above the background */
  z-index: 1;
  width: 100%;
  height: 100%;
}
.form-box {
  height: 400px;
  background-color: rgba(255, 255, 255, 0.253); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border-radius: 10px; /* Optional: adds rounded corners */
  box-shadow: 2px 2px 6px rgb(249, 245, 249); /* Optional: adds a subtle shadow */
  
  border: 1px solid rgba(8, 8, 8, 0.18); /* Optional: adds a border to enhance the glass effect */
}

  